use master
go
drop DATABASE [University]
go

CREATE DATABASE [University]
go
USE [University]
GO
-- Store User
CREATE TABLE [dbo].[Account](
	[UserID] [int] IDENTITY(1,1) primary key NOT NULL,
	[Username] [varchar](20) NULL,
	[Password] [nvarchar](200) NULL,
	[FullName] [nvarchar](200) NULL,
	[Address] [nvarchar](200) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Gender] [varchar] (20),
	[Image] nvarchar (100),
	[Role] [varchar](20) NULL,
	[Status] [bit] not null,
	[EmailConfirmed] bit default 0 not null,
	[Token] varchar(256)
)
go

Create table Idea(
	IdeaID int identity(1,1) primary key,
	IdeaTitle nvarchar(350),
	IdeaContent ntext,
	IdeaDescription nvarchar(500),
	IdeaCategory int, -- FK
	FileSP nvarchar(200),
	IdeaViewCount int default 0,
	[AllowAnonymous] bit default 1,
	CreatedDate datetime default getdate(),
	ModifiedDate datetime default getdate(),
	CreatedBy nvarchar(250),
	ModifiedBy nvarchar(250),
	ClosedDate datetime,
	IdeaStatus bit default 1 not null
)
go
Create table IdeaCategory(
	IdeaCategoryID int primary key identity(1,1),
	CategoryName nvarchar(250),
	CategoryDescription  nvarchar(250),
	IdeaCateViewC int default 0,
	GroupCateIdea int default 0, -- FK
	CreatedDate datetime default getdate(),
	FinalCloseDate datetime default getdate(),
	ModifiedDate datetime default getdate(),
	CreatedBy nvarchar(250),
	ModifiedBy nvarchar(250),
	IdeaCateStatus bit default 1 not null
)
go
Create table CategoryGroupIdea(
	CategoryGroupIdeaID int primary key identity(1,1),
	CategoryGroupName nvarchar(250),
	CateGrIdeaDes nvarchar(250),
	CreatedDate datetime default getdate(),
	ModifiedDate datetime default getdate(),
	CreatedBy nvarchar(250),
	ModifiedBy nvarchar(250),
	CategoryGrIdeaSt bit default 1 not null
	)
go
Create table Emotion(
	EmotionId int primary key identity(1,1),
	IdeaId int,
	EmotionName nvarchar(250),
	Description nvarchar(250)
)
go
Create table EmotionLog(
	EmotionLogId int primary key identity(1,1),
	EmotionId int,
	UserId int,
	Emotime datetime 
)
go
create table Comment(
	CommentId int primary key identity(1,1),
	CmParentId int,
	CmContent nvarchar(max),
	CreatedDate datetime default getdate(),
	ModifiedDate datetime default getdate(),
	CreatedBy nvarchar(250),
	ModifiedBy nvarchar(250),
	CmStatus bit default 1 not null
)
go

INSERT INTO [dbo].[IdeaCategory]
           ([CategoryName]
           ,[CategoryDescription]
           ,[IdeaCateViewC]
           ,[GroupCateIdea]
           ,[CreatedDate]
           ,[ModifiedDate]
           ,[CreatedBy]
           ,[ModifiedBy]
           ,[IdeaCateStatus])
     VALUES
           ('Book','This category discusses book issues...',0,1,'02-02-2002','02-02-2002','Minh','Minh',1),
		   ('Paper','This category discusses Paper issues...',0,1,'02-02-2002','02-02-2002','Minh','Minh',1)
GO
INSERT INTO [dbo].CategoryGroupIdea
           (CategoryGroupName
           ,CateGrIdeaDes
           ,[CreatedDate]
           ,[ModifiedDate]
           ,[CreatedBy]
           ,[ModifiedBy]
           ,CategoryGrIdeaSt)
     VALUES
           ('Study','This category discusses study isue ','02-02-2002' ,'02-02-2002' ,'Minh','Minh' ,1),
		    ('Music','This category discusses study isue ','02-02-2002' ,'02-02-2002' ,'Minh','Minh' ,1)


GO
Insert into Emotion(EmotionName,[description])values('Like','Thumbs-up')
go
Insert into Emotion(EmotionName,[description])values('DisLike','Thumbs-Down')
go



create proc sp_getIdeaCateName
@InputIdeaCategory int 
as
begin
	select b.CategoryName from Idea a inner join IdeaCategory b on a.IdeaCategory = b.IdeaCategoryID where a.IdeaCategory = @InputIdeaCategory
end
go

select * from  IdeaCategory a inner join CategoryGroupIdea b on a.GroupCateIdea = b.CategoryGroupIdeaID where a.GroupCateIdea = b.CategoryGroupIdeaID 



INSERT [dbo].[Account] ([Username], [Password], [FullName], [Address], [Email], [Phone], [Status],Gender,[Role]) VALUES ( N'qam', N'123', N'qam', N'123', N'hongminh@gmail.com', N'0923999423', 1,'Male','QAM')
INSERT [dbo].[Account] ([Username], [Password], [FullName], [Address], [Email], [Phone], [Status],Gender,[Role]) VALUES ( N'stu', N'123', N'stu', N'123', N'hongminh@gmail.com', N'0923999423', 1,'Male','STU')
INSERT [dbo].[Account] ([Username], [Password], [FullName], [Address], [Email], [Phone], [Status],Gender,[Role]) VALUES ( N'stu1', N'123', N'stu', N'123', N'hongminh@gmail.com', N'0923999423', 1,'Male','STU')
	
	select * from Emotion
	go
	select * from EmotionLog
	go
	select * from Idea
	go
	select * from Comment
	go
	select * from IdeaCategory
	go
	select * from CategoryGroupIdea
	go