<!DOCTYPE HTML>

<html>
<head>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/CustomStyle/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/CustomStyle/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <link href="~/CustomStyle/Css/Home/one-page-wonder.min.css" rel="stylesheet" />
    <link href="~/CustomStyle/fontawsome/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CustomStyle/Css/Home/_Layout.css" rel="stylesheet" />
    <script src="~/CustomStyle/ckeditor/ckeditor.js"></script>


    <script src="~/CustomStyle/ckfinder/help/kendo.all.min.js"></script>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.material.mobile.min.css" />
    <style>
        body {
            position: relative;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    @{
        var session = (ModelPr.ModelViews.UserLogin)Session[ModelPr.CommonClass.CommonCls.User_session];
    }
    <!-- Navigation -->
    <div class="" id="mainmenu">
        <nav class="navbar navbar-expand-md navbar-dark navbar-custom mainnav">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index","Home", new { area =""})">FPT Greenwich University Forum</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hello: @session.Username</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Logout","Account", new { area =""})">Log out</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="undo" href="#">Get help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
    @* KENDO WINDOW *@

    <div id="example" style="display:none">

        <div id="window"></div>

        @*<span id="undo" style="display:none" class="k-button">Click here to open the window.</span>*@

        <div class="responsive-message"></div>
        <script>

            $(document).ready(function () {
                var myWindow = $("#window"),
                    undo = $("#undo");

                function onClose() {
                    undo.fadeIn();
                }
                myWindow.kendoWindow({
                    width: "615px",
                    title: "Help",
                    content: "../../Home/HelpDetail",
                    close: onClose
                });
                $("#window").kendoWindow({
                    position: {
                        top: 100, // or "100px"
                        left: "20%"
                    }
                });
                undo.click(function () {
                    myWindow.data("kendoWindow").open();
                    $("")
                    //undo.fadeOut();
                });

            });
        </script>

        <style type="text/css">
            #example {
                min-height: 840px;
            }

            #undo {
                /*text-align: center;
                position: absolute;
                white-space: nowrap;
                border-width: 1px;
                border-style: solid;
                padding: 2em;
                cursor: pointer;*/
            }

            @@media screen and (max-width: 1023px) {
                div.k-window {
                    display: none !important;
                }
            }

            .k-widget k-window {
                top: 0
            }
        </style>
    </div>
</body>

</html>


