@{
    ViewBag.Title = "GetHelp";
    Layout = null;
}
<div class="">
    <h1>Tutorial</h1>
    <hr />
    <div class="card">
        <div class="card-header">
            <h4>Step to post an idea</h4>
        </div>

        <div class="card-body">
            <p><strong>Step 1:</strong> Click on the "Post an idea" on the right side of the screen. </p>
            <p><strong>Step 2:</strong> Then select the group or department. </p>
            <p><strong>Step 3:</strong> Then select the category to post idea. </p>
            <p><strong>Step 4:</strong> Then enter the idea content. </p>
            <p><strong>Step 5:</strong> You click on Anonymous to enable the incognito feature and the default is not. </p>
            <p><strong>Step 6:</strong> Complete you will see your idea in the new post. </p>
        </div>
    </div>

</div>
